#console-messages .console-log-level .console-message-text,
#console-messages .console-log-level .console-message-url {

}
.tabbed-pane:not(.help-window-main) .tabbed-pane-header{
	width: auto !important;
	margin-right: -250px !important;
}
.tabbed-pane:not(.help-window-main) .tabbed-pane-header .tabbed-pane-header-tab:nth-child(4){
	display: none;
}
.tabbed-pane:not(.help-window-main) .tabbed-pane-header .tabbed-pane-header-tab:nth-child(5){
	display: none;
}
.tabbed-pane:not(.help-window-main) .tabbed-pane-header .tabbed-pane-header-tab:nth-child(6){
	display: none;
}
.tabbed-pane:not(.help-window-main) .tabbed-pane-header .tabbed-pane-header-tab:nth-child(7){
	display: none;
}
.tabbed-pane:not(.help-window-main) .tabbed-pane-header .tabbed-pane-header-tab:nth-child(9){
	display: none;
}